/* css for container */
.container{
    position: relative;
    width: 1440px;
    height: 1346px;
    background: #f9f9f9;

}
/* css for sidebar */
.sidebar{
    position: absolute;
    bottom: 68px;
    left: 0px;
    right: 1170;
    top: 0px;
    width: 270px;
    height: 1278px;
    background: #ffffff;

}
/* css for logo */
.logo{
    position: absolute;
    width: 228px;
    height: 27px;
    top: 25px;
    left: 16px;
    background: #fff;
}
.logo img{
    position: absolute;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 20.46px;
    line-height: 27px;
    text-align: center;
    color: #242424;
    left: 6px;
    /* right: 59.21%; */
}

/* css for HNGI8 */
.frame{
    position: absolute;
    width: 260px;
    height: 44px;
    top: 62px;
    left: 0px;
    background: #00b87c;
}
.frame h6{
    position: absolute;
    width: 56px;
    height: 28px;
    left: 16px;
    top: 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}
/* css for icons */
.fa-angle-down{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 80px;
    top: 17px;
    color: #ffffff;
}
.eclipse{
    position: absolute;
    width: 34px;
    height: 34px;
    left: 208px;
    top: 5px;
    background: #ffffff;
    border-radius: 50%;
}
.fa-edit{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 9px;
    top: 9px;
}

/* CSS for thread */
.thread{
    position: absolute;
    width: 219px;
    height: 28px;
    left: 16px;
    top: 111px;
    display: flex;
    background: #ffffff;
}
.thread p{
    position: absolute;
    width: 53px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545;
}

/* css for All DMs */
.all-dm{
    position: absolute;
    width: 219px;
    height: 28px;
    left: 16px;
    top: 139px;
    display: flex;
    background: #ffffff;
}
.all-dm p{
    position: absolute;
    width: 53px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for drafts */

.draft{
    position: absolute;
    width: 219px;
    height: 28px;
    left: 16px;
    top: 167px;
    display: flex;
    background: #ffffff;
}

.draft p{
    position: absolute;
    width: 53px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for files */

.files{
    position: absolute;
    width: 219px;
    height: 28px;
    left: 16px;
    top: 195px;
    display: flex;
    background: #ffffff;
}

.files p{
    position: absolute;
    width: 53px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for plugins */

.plugin{
    position: absolute;
    width: 221px;
    height: 28px;
    left: 16px;
    top: 223px;
    display: flex;
    flex-direction: row;
    background: #ffffff;
}

.plugin p{
    position: absolute;
    width: 53px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

.fa-plus-circle{
    position: absolute;
    left: 208px;
    top: 9px;
}

/* css for games */

.game{
    position: absolute;
    width: 219px;
    height: 28px;
    left: 16px;
    top: 256px;
    display: flex;
    background: #ffffff;
}

.game p{
    position: absolute;
    width: 53px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for chess */

.chess{
    position: absolute;
    width: 192px;
    height: 28px;
    left: 42px;
    top: 289px;
    display: flex;
    background: #ffffff;
}

.chess p{
    position: absolute;
    width: 53px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Solitaire */

.sol{
    position: absolute;
    width: 192px;
    height: 28px;
    left: 42px;
    top: 317px;
    display: flex;
    background: #ffffff;
}

.sol p{
    position: absolute;
    width: 53px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Music */

.music{
    position: absolute;
    width: 221px;
    height: 28px;
    left: 16px;
    top: 350px;
    display: flex;
    background: #ffffff;
}

.music p{
    position: absolute;
    width: 53px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for All-music */

.all-mus{
    position: absolute;
    width: 240px;
    height: 28px;
    left: 42px;
    top: 383px;
    display: flex;
    background: #ffffff;
}

.all-mus p{
    position: absolute;
    width: 120px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Mx-tape */

.tape{
    position: absolute;
    width: 195px;
    height: 28px;
    left: 42px;
    top: 411px;
    display: flex;
    background: #ffffff;
}

.tape p{
    position: absolute;
    width: 120px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Tools */

.tools{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 16px;
    top: 444px;
    display: flex;
}

.tools p{
    position: absolute;
    width: 53px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Online-tools */

.online{
    position: absolute;
    width: 219px;
    height: 28px;
    left: 42px;
    top: 477px;
    display: flex;
}

.fa-tools{
    width: 18px;
    height: 18px;
    position: absolute;
}
.online p{
    position: absolute;
    width: 120px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for To-do-list */

.to-do{
    position: absolute;
    width: 219px;
    height: 28px;
    left: 42px;
    top: 508px;
    display: flex;
}

.to-do p{
    position: absolute;
    width: 120px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Whiteboard */

.white{
    position: absolute;
    width: 219px;
    height: 28px;
    left: 42px;
    top: 533px;
    display: flex;
}

.white p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Notice board */

.notice{
    position: absolute;
    width: 219px;
    height: 28px;
    left: 42px;
    top: 561px;
    display: flex;
}

.notice p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Calendar */

.calendar{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 16px;
    top: 594px;
    display: flex;
}

.calendar p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Holiday calendar */

.holy{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 42px;
    top: 627px;
    display: flex;
}

.holy p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Duty-shift */

.duty{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 42px;
    top: 655px;
    display: flex;
}

.duty p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for important Deadline */

.dead{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 42px;
    top: 683px;
    display: flex;
}

.dead p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Sales */

.sales{
    position: absolute;
    width: 219px;
    height: 28px;
    left: 16px;
    top: 716px;
    display: flex;
}

.sales p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Sales-prospect */

.prospect{
    position: absolute;
    width: 219px;
    height: 28px;
    left: 42px;
    top: 749px;
    display: flex;
}

.prospect p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Channels */

.channel{
    position: absolute;
    width: 219px;
    height: 28px;
    left: 16px;
    top: 782px;
    display: flex;
}

.channel p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for announcement */

.announce{
    position: absolute;
    width: 193px;
    height: 28px;
    left: 42px;
    top: 815px;
    display: flex;
}

.announce p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for General */

.gen{
    position: absolute;
    width: 193px;
    height: 28px;
    left: 42px;
    top: 843px;
    display: flex;
}

.gen p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Developers */

.dev{
    position: absolute;
    width: 193px;
    height: 28px;
    left: 42px;
    top: 871px;
    display: flex;
}

.dev p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Jokes */

.joke{
    position: absolute;
    width: 193px;
    height: 28px;
    left: 42px;
    top: 899px;
    display: flex;
}

.joke p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Random */

.rand{
    position: absolute;
    width: 193px;
    height: 28px;
    left: 42px;
    top: 927px;
    display: flex;
}

.rand p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Add channels */

.add{
    position: absolute;
    width: 193px;
    height: 28px;
    left: 42px;
    top: 955px;
    display: flex;
}

.add .fa-plus-circle{
    position: absolute;
    left: -2px;
    top: 6px;

}

.add p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Direct messages */

.direct{
    position: absolute;
    width: 219px;
    height: 28px;
    left: 16px;
    top: 988px;
    display: flex;
}

.direct p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}

/* css for Jane Doe */
.doe{
    position: absolute;
    width: 191px;
    height: 28px;
    left: 35px;
    top: 1021px;
    display: flex;
    flex-direction: row;   
}

.doe img{
    position: static;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.doe p{
    position: static;
    width: 162px;
    height: 28px;
    left: 32px;
    top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

/* css for Kelvin monument */

.kel{
    position: absolute;
    width: 191px;
    height: 28px;
    left: 35px;
    top: 1049px;
    display: flex;
    flex-direction: row;
}

.kel img{
    position: static;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.kel p{
    position: static;
    width: 159px;
    height: 28px;
    left: 32px;
    top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

/* css for Sandra Bernard */

.ben{
    position: absolute;
    width: 191px;
    height: 28px;
    left: 35px;
    top: 1077px;
    display: flex;
    flex-direction: row;
}

.ben img{
    position: static;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.ben p{
    position: static;
    width: 159px;
    height: 28px;
    left: 32px;
    top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

/* css for Akeem Bargu */

.barg{
    position: absolute;
    width: 191px;
    height: 28px;
    left: 35px;
    top: 1105px;
    display: flex;
    flex-direction: row;
}


.barg img{
    position: static;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.barg p{
    position: static;
    width: 159px;
    height: 28px;
    left: 32px;
    top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

/* css for teammates */

.mates{
    position: absolute;
    width: 192px;
    height: 28px;
    left: 43px;
    top: 1133px;
    display: flex;
}

.mates .fa-plus-circle{
    position: absolute;
    left: -2px;
    top: 6px;

}

.mates p{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 26px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #454545; 
}




/* css for rightbar */

.rightbar{
    position: absolute;
    width: 1170px;
    right: 0px;
    height: 1346px;
    top: 0px;
    left: 270px;
    background: #f9f9f9;
}
/* css for navbar */

.navbar-top{
    position: absolute;
    width: 1170px;
    height: 62px;
    /* left: 268px; */
    top: 0%;
    right: 0%;
    background: #ffffff;
}
.form-control{
    position: absolute;
    width: 585px;
    height: 32px;
    top: 15px;
    left: 16px;
    background: rgba(255, 255, 255, 0.4);
    border: 0.8px solid rgba(153, 153, 153, 0.2);
    box-sizing: border-box;
    border-radius: 3px;
}
.navbar-top img{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1132px;
    top: 19px;
}
/* css for section-1 */

.section-1{
    position: absolute;
    width: 1170px;
    height: 400px;
    top: 63px;
    border-radius: 8px;
    background: white;
}

/* css for sect-a */

.sect-a{
    position: absolute;
    width: 612px;
    height: 222px;
    left: 48px;
    top: 19px;
    bottom: 89px;
    
}

.sect-a h6{
    position: absolute;
    width: 546px;
    height: 48px;
    left: 48px;
    top: 89px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 38.5px;
    line-height: 48px;
    display: flex;
    align-items: center;
    /* text-transform: uppercase; */
    color: #454545;
}

.sect-a p{
    position: absolute;
    left: 48px;
    /* right: 512px; */
    top: 141px;
    /* bottom: 203px; */
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    color: #616061;
    display: flex;
    align-items: center;
}

.sect-a button{
    position: absolute;
    width: 151px;
    height: 56px;
    left: 48px;
    top: 255px;
    background: #00b87c;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 18px;
    color: #ffffff;
}

/* css for sect-b */

.sect-b{
    position: absolute;
    width: 426px;
    height: 260px;
    left: 690ppx;
    top: 70px;
    right: 56px;
}

/* css for sction 2 */

.section-2{
    position: absolute;
    width: 1170px;
    height: 395px;
    top: 479px;
    background: #ffffff;
}

/* css for sect-2-a */

.sect-2-a{
    position: absolute;
    width: 679px;
    height: 48px;
    left: 242px;
    top: 32px;
}

.sect-2-a h6{
    position: absolute;
    font-size: 31px;
    font-weight: bold;
    font-family: Lato;
    font-style: normal;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #454545;
}

/* css for sect-2-b */

.sect-2-b{
    position: relative;
    display: inline-block;
    margin-right: 90px;
    width: 240px;
    height: 240px;
    left: 126px;
    top: 123px;
    background: #ffffff;
    border: 3px solid #f6f6f6;
    box-sizing: border-box;
    border-radius: 8px;
}

.mes{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 92px;
    top: 16px;
    background: #00b87c;
    border-radius: 4px;
}

.secure{
    position: absolute;
    width: 205px;
    height: 40px;
    left: 45px;
    top: 80px;
}

.secure p{
    position: absolute;
    font-size: 18px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1d1d1d;
}

.external{
    position: absolute;
    width: 205px;
    height: 63px;
    left: 18px;
    top: 120px;
}

.external p{
    position: absolute;
    font-size: 13px;
    line-height: 23px;
    font-family: Lato;
    font-weight: bold;
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color: #454545;
}

.learn{
    position: absolute;
    width: 134px;
    height: 48px;
    left: 53px;
    top: 176px;   
}

.more{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    position: static;
    width: 114px;
    height: 48px;
    left: 0px;
    top: 0px;
    background: #ffffff;
    border-radius: 3px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.more hr{
    width: 150px;
    border-width: medium;
    border-color: #00b87c;
}

.learn p{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color: #00b87c;
}

.arrow{
    position: static;
    width: 20px;
    height: 20px;
    left: 114px;
    top: 14px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.fa-arrow-right{
    position: absolute;
    left: 120px;
    right: 0px;
    top: 9px;
    bottom: 0px;
    color: #00b87c;
}

/* css for section-3 */

.section-3{
    position: absolute;
    width: 1170px;
    height: 456px;
    top: 890px;
    border-radius: 8px;
    background: #ffffff;
}

/* css for sect-3-a */

.sect-3-a{
    position: absolute;
    width: 320px;
    height: 320px;
    left: 56px;
    top: 64px;
}
/* css for sect-3-b */

.sect-3-b{
    position: absolute;
    width: 612px;
    height: 272px;
    left: 440px;
    top: 88px;
}
.sect-3-b h6{
    position: absolute;
    width: 566px;
    height: 96px;
    left: 30px;
    top: 5px;
    font-size: 33px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #454545;
}

.sect-3-b p{
    position: absolute;
    width: 612px;
    height: 56px;
    left: 30px;
    right: 120px;
    top: 135px;
    bottom: 188px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #616061;
}

.sect-3-b button{
    position: absolute;
    width: 151px;
    height: 56px;
    left: 30px;
    top: 220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 18px;
    background: #00b87c;
    border-radius: 3px;
    color: #ffffff;
}